page-facebook {

}
.menu {
	display: table;
	width: 100%;
	background-color: #29487d;
	margin: 0;
	list-style: none;
}
.menu li {
	display: table-cell;
	text-align: center;
	padding: 15px 5px;
	color: #FFFFFF;
}